*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
body  {
    background-image: url("../images/foto.jpg");
    background-repeat: no-repeat;
    background-size: 1920px;
}
.car{
    margin:610px 0px ;
    position: relative;
    height: 0px;
    transition: all 0,5s linear 0.5s;
    animation: mymove 5s infinite
}
.car:hover{
    width: 600;
    background-color: brown;
    color: white;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 1400px;}
}
.flou{
    margin:-300px 0px ;
    position: relative;
    height: 0px;
    transition: all 0,4s linear 0.5s;
}
@keyframes move {
  from{right: 0;}
  to{right:500px ;}

}